.album-header {
    display: flex;
}

.album-header > img {
    min-width: 15%;
    border-radius: 2em;
}

.album-txt {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.album-txt > h1 {
    color: #A4C7C6;
    font-weight: bolder;
    font-size: clamp(2.1em, 2.2vw, 2.4em);
    text-align: justify;
}

.album-txt > span {
    max-width: 85%;
    padding-top: 1em;
    font-size: clamp(0.9em, 1vw, 1.1em);
}

.album-header-btns {
    margin-top: auto;
    display: flex;
}

.album-header-btns > button > img {
    width: 22px;
}

.album-header-btns > button {
    display: flex;
    border-radius: 5em;
    padding: 0.5em 1em 0.5em 1em;
    background-color: rgb(152, 150, 150);
    margin-right: 2em;
    border: none;
}

.album-header-btns > button > p{
    align-self: center;
    padding-left: 0.4em;
}

table {
    margin-top: 3em;
    width: 100%;
    border-spacing: 0 1em;
}


table > tbody > tr {
    background-color: #33373B;
/*    padding: 3em; */
    border: 2px solid ;
    border-radius: 20px;
}

table td{
    padding: 0.5em;
    font-size: clamp(0.9rem, 1.1vw, 1.3em);
}

table .first-row {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

table .first-row > img {
    border-radius: 10px;
    width: clamp(2em, 3vw, 3.1em);
}

table .first-row > .love-icon{
    width: clamp(1.3em, 2vw,2.3em);
}

.last-row{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.last-row > div {
/*    background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last-row > div > span img{
    margin-right: 1em;
    height: 1.2em;
}

.song-type{
    margin-left: 40%;
}

@media screen and (max-width: 720px) {
    .album-header{
        flex-direction: column;
    }

    .album-header > img {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .album-txt {
        padding: 2% 4% 2% 4%;
        text-align: center;
    }
    
    .album-txt > span {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    table {
        margin-top: 1em;
    }
    
    .album-header-btns {
        margin-top: 1em;
        display: flex;
    }
    
    .album-header-btns > button {
        padding: 0.3em 0.8em 0.3em 0.8em;
    /*    background-color: black; */
        margin-right: 2em;
    }
    
    .album-header-btns > button > p{
        align-self: center;
        padding-left: 0.1em;
        font-size: 0.8em;
    }
    
}

@media (max-width: 678px) {
    .song-type{
        display: flex;
        margin-left: 0;
    }
    .last-row > div > span img{
        margin-left: 0;
    }

    .last-row > div{
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }
    .love-icon{
        display: none;
    }

}