nav {
    display: flex;
    padding: 2em;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    height: 3rem;
    width: 100%;
    z-index: 9;
/*    background-color: #1D2123; */
}

nav > svg {
    display: none;
    color: red;
    align-self: center;
}

nav > img {
    width: 2em;
    height: 2em;
    align-self: center;
}

nav input {
    height: 1.6em;
    align-self: center;
    margin-left: 2%;
    padding: 1rem;
    border: none;
    border-radius: 20px;
    background-color: #232323;
}

.drop-nav {
    display: none;
    flex-direction: column;
    position: absolute;
/*        z-index: 9; */
    margin-top: 2.2em;
    background-color: #1D2123;
    color: red;
/*        height: 15em; */
    width: 100%;
    font-size: clamp(0.6em, 0.9vw, 1em);
}

@media screen and (max-width: 900px) {
    .bounce {
        animation: bounce 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
      }
      
      @keyframes bounce {
        0%,
        25%,
        50%,
        75%,
        100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-15px);
        }
        60% {
          transform: translateY(-12px);
        }
      }
    nav {
        position: fixed;
    }
    nav > svg {
        display: flex;
        color: red;
        position: relative;
        align-self: center;
        margin-right: 1%;
    }

    nav > img {
        width: 1.3em;
        height: 1.3em;
        margin-left: 6%;
    }

    .drop-nav {
        display: flex;
        padding-left: 25px;
        margin-left: -3em;
    }

    #open {
        height: 100vh;
    }

    #close{
        height: 0;
        overflow: hidden;
    }
    .drop-nav p {
        padding: 1.5em 0em 1.5em 0em;
        display: flex;
    }

    .drop-nav p > img{
        margin-right: 1em;
        margin-left: 0.3em;
    }

    .drop-nav > p span {
        margin-top: auto;
        margin-bottom: auto;
    }
    
}

@media screen and (max-width: 720px) {
    .drop-nav {
        padding-left: 3em;
        width: 110%;
    }
}