
.side-nav {
    margin-top: 5em;
    padding-left: 1em;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; 
    left: 0;
}

.upper-side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 13em;
    padding: 10px;
    width: 40px;
    border: none;
    border-radius: 15px;
    background-color: #1A1E1F;
} 

.lower-side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 15px;
    background-color: #1A1E1F;
    width: 40px;
    padding: 10px;
    margin-top: 2em;
    height: 8em;
}

@media screen and (max-width: 900px) {
    body {
/*        background-color: red; */
    }

    .side-nav {
        display: none;
    }
}
